<!DOCTYPE html>
<html>
  <head>
    <title>FirstShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>
  </head>
  <% print "#{controller.controller_name} \n\n\n\n\n\n" %>
  <body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png", width: "50px") %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><a href="https://www....">Home</a></li>
        <li><a href="https://www..../faq">Questions</a></li>
        <li><a href="https://www..../news">News</a></li>
        <li><a href="https://www..../contact">Contact</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
